# Core
numpy
scipy
pandas

# Visualization
matplotlib
seaborn



# Reinforcement Learning (optional but useful)
gymnasium
stable-baselines3
pettingzoo
polygone
plotly
torch
tensorboard
shapely
gymnasium
wandb
tqdm
huggingface
# Utilities
tqdm
pyyaml
huggingface_hub

# Image / Video processing
opencv-python
imageio

# Scientific / math tools
scikit-learn

# Config & CLI
argparse